table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ececec" width="600" style= isFooterwhite ? "background-color: #fff" : "background-color: #ececec; padding: 14px 30px 0" class="container"): tbody
  tr
    td(valign="middle" align="center" style="padding-bottom: 50px; padding-top: 14px")
      +img("Twitter", "twitter.png")(align="center" style="display: block; width: 31px; height: 65px")
      p(style="margin: 0; text-align: center; font-family:\'RenaultLife-Regular\', Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 24px; line-height: 26px; color: #614132") #talismanp2f

table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ececec" width="600" style= isFooterwhite ? "background-color: #fff" : "background-color: #ececec;" class="container"): tr: td(valign="top;" style="padding:0 30px;")
  table(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #030303;  border-bottom:1px solid #030303;")
    tr
      td(valign="middle" style="height: 38px").mobile-full.text
        p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; color: #000") Joins us and follow our communities
      td(valign="middle" style="height: 38px").mobile-full.social
        table(cellspacing="0" cellpadding="0" border="0" align="center" style="float:right").mobile-center
          tr
            td.icon(valign="top" style="width: 22px")
              +link("Facebook")(style="display: block")
                +img("Facebook", "icon-facebook.png")(width="15" height="15" style="border: none; display: block; width: 15px; height: 15px")
            td.icon(valign="top" style="width: 22px")
              +link("Twitter")(style="display: block")
                +img("Twitter", "icon-twitter.png")( width="15" height="15" style="border: none; display: block; width: 15px; height: 15px")
            td.icon(valign="top" style="width: 22px")
              +link("Instagram")(style="display: block")
                +img("Instagram", "icon-instagram.png")(width="15" height="15" style="border: none; display: block; width: 15px; height: 15px")
            td.icon.last(valign="top")
              +link("Youtube")(style="display: block")
                +img("Youtube", "icon-youtube.png")(width="15" height="15" style="border: none; display: block; width: 15px; height: 15px")

table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ececec" width="600" style= isFooterwhite ? "background-color: #fff" : "background-color: #ececec;" class="container"): tbody
      tr
        td(valign="middle" style="font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 10px; color: #626262; padding-bottom: 12px; padding-top: 6px; padding: 6px 30px 12px") * la vie avec passion
      tr
        td(valign="middle" style="font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 10px; line-height: 14px; color: #626262; padding:0 30px 25px")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et scelerisque libero, et molestie risus. Suspendisse egestas consequat sagittis. Pellentesque facilisis hendrerit eros ac dignissim. Morbi rutrum lorem purus, vel tincidunt purus dapibus et. Curabitur vitae semper diam. Donec tempus at libero nec tincidunt. Pellentesque sed orci mollis, fermentum turpis eu, aliquet enim. Sed commodo aliquet justo,
