table(border="0" cellpadding="0" cellspacing="0" width="600"  align="center" bgcolor="#ebebeb" style="width: 600px;" class="container" ): tbody
  tr
    td(valign="middle" style="font-family:\'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 9px; line-height: 16px; text-indent: 6px;  color: #aaaaaa; padding-top: 5px;") Can't read this mail ?&nbsp;
      +link("Click here")(style="font-family:\'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 9px; color: #8b8b8b")
table(cellspacing="0" cellpadding="0" border="0" width="600" align="center" style="width: 600px;" class="container"): tbody
  tr
    td(valign="top")
      +img("Renault passion for life", "banner.jpg").mobile-hide(style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 16px;")
      //[if !mso]><!
      +img("Renault passion for life", "banner-mb.jpg").mobile-show(style="overflow:hidden; float:left; display:none; line-height:0px; max-height: 0; height: 0;")
      //<![endif]
