table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" style="width: 600px; background-color: #ffffff;").container: tbody
  tr
    td(valign="top").mobile-full
      +img("", "image-2.jpg")(style="display: block; border: none; width: 300px; height: 213px;")
    td(valign="top").mobile-full
      +img("", "image-3.jpg")(style="display: block; border: none; width: 300px; height: 213px;")
  tr
    td(valign="top").mobile-full
      +img("", "image-4.jpg")(style="display: block; border: none; width: 300px; height: 213px;")
    td(valign="top").mobile-full
      +img("", "image-5.jpg")(style="display: block; border: none; width: 300px; height: 213px;")
