+text('The Journey', ['Let the count down begin! In just 5 days, the Renault Talisman is driving from Paris to Frankfurt for the Frankfurt Motor Show 2015. But that’s not all - the test-drive will be live-streamed and twitter-fuelled! You can tweet questions and instructions to our ambassadors and see their live reactions: Laurens Van DenAcker at 9.00-9.30am, Formula 1 champion Alain Prost at 3.00-3.30pm and XXX at 9.00-9.30pm! Get involved with all this interactive entertainment!'])

