+text('Conversations driven by you', ['Our new Renault Talisman is driving from Paris to Frankfurt for the Frankfurt Motor Show 2015 in the first live-streamed and twitter-fuelled test-drive. See our ambassadors’ reactions to your tweets and suggestions throughout the day: Laurens Van DenAcker at 9.00-9.30AM, Formula 1 champion Alain Prost at 3.00-3.30PM and XXX at 9.00-9.30PM!', 'And they’re off! The Renault Talisman leaves Paris today! Make sure you follow the journey to the Frankfurt Motor Show 2015 and engage in the live-streamed event via Twitter using #TALISMANP2F. Our ambassadors are ready to respond to all your requests and suggestions, so start tweeting to take control of the test-drive and get to know the Renault Talisman.'])

