table(cellspacing="0", cellpadding="0", border="0", align="center" bgcolor="#ffffff" style="width: 600px; background-color: #ffffff;").container: tbody
  tr
    td.mobile-full
      table(cellspacing="0" cellpadding="0" border="0" align="center" style="width: 100%;"): tbody
        tr: td(valign="top" style="padding: 28px 30px 20px;")
          p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 30px; color: #5f3817; line-height: 30px;") Over to You
        tr: td(valign="top" style="padding: 0 30px 15px;")
          p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 15px; color: #5f3817; line-height: 21px; text-align: justify;") Get involved and start posting your questions and suggestions for our ambassadors on Twitter using #TALISMANP2F. You’ll be able to steer the conversation and maybe even the car in whichever direction you like! Discover more about the design of the car, its dynamic performance and the real driving experience through our ambassadors’ reactions.
    td(valign="top" style="width: 300px;").mobile-full: +img("", "image-1.jpg")(style="display: block; border: none; width: 300px; height: 335px;")
