table(cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ececec" style="width: 600px; background-color: #ececec;").container: tbody
  tr
    td(valign="top" style="padding: 0 30px;")
      table(cellspacing="0" cellpadding="0" border="0" align="center" style="width: 100%;"): tbody
        tr: td(valign="top" style="padding: 15px 0 12px;")
          p(style="margin: 0; font-family: \'RenaultLife-Regular\', Helvetica, Arial, sans-serif; font-size: 30px; color: #5f3817; line-height: 30px;") Here’s a sneak peak of what to expect…
        tr: td(valign="top" style="padding-bottom: 30px;")
          +link("Here’s a sneak peak of what to expect…")
            +img("", "video.jpg")(style="display: block; border: none; width: 536px; height: 317px;").mobile-full
