mixin img(alt, src)
  //- - imagePath = "http://smfe.github.io/talisman/images/"
  - if (typeof(src) === 'undefined') src = "transparent.png"
  img(src="#{imagePath}#{src}", alt="#{alt}", align="left")&attributes(attributes)
