include ../mixins/all
block variables
doctype transitional
- imagePath = "http://smfe.github.io/talisman/images/"
- fontPath = "http://smfe.github.io/talisman/fonts/"
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Newsletter
    //- style(type="text/css").
    include ../styles/fonts
    include ../styles/reset
    include ../styles/mobile

  body(style="margin: 0; padding: 0;")
    include ../blocks/header
    block container
    include ../blocks/footer
