style(type="text/css").
  @media screen and (max-width: 525px) {
    .container {width: 300px!important}
    .mobile-hide {display: none!important;}
    td[class="mobile-hide"]{
      display:none;}
    img[class="mobile-hide"]{
      display: none !important;
    }
    .mobile-show{
      display: block!important;
      opacity: 1!important;
      height: auto!important;
      overflow: inherit!important;
      max-height: inherit!important;
      max-width: 100%!important;
      width: 100%!important;
    }
    .mobile-full {width: 100%!important; height: auto!important; display: block!important;}
    .text {
      text-align: center!important;
      padding-top: 30px!important;
    }
    .social {
      text-align: center!important;
      padding-top: 30px!important;
      padding-bottom: 30px!important;
    }
    .social img{
      width: 40px!important;
      height: 40px!important;
    }
    .mobile-center {
      float: none!important;
    }
  }
