style(type="text/css").
  #outlook a{padding:0;}
  #outlook table,#outlook td {line-height: 0;}
  .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
  body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
  table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
  img{-ms-interpolation-mode:bicubic;}
  body{margin:0; padding:0;}
  img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
  table{border-collapse:collapse !important;}
  body{height:100% !important; margin:0; padding:0; width:100% !important;}
